body {
    font-family: 'Poppins', sans-serif;
    background: #383E56;
}

.navbar {
    font-weight: bold;
    padding: 15px;
}

.navbar-brand, .navbar-brand:hover {
    color: #fff;
}

.nav-link {
    color: #fff;
}

.active, .nav-link:hover {
    color: #EEBB4D;
}