body {
    font-family: 'Poppins', sans-serif;
}

header {
    background: url(https://www.desktopbackground.org/download/1920x1080/2012/10/09/465206_dark-purple-backgrounds-wallpapers-cave_3600x2400_h.jpg);
}

.navbar {
    font-weight: bold;
    padding: 15px;
    display: flex;
}

.presentation {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 50px;
    color: #fff;
}

.row {
    margin: 0;
}

.presentation .home-text {
    margin: auto;
}

.presentation h1 {
    font-size: 45px;
    margin-bottom: 25px;
    text-shadow: 2px 1px 4px #000;
}

.presentation .home-text p {
    font-size: 23px;
}

.presentation button {
    padding: 15px 30px;
    margin-top: 15px;
    border: none;
    border-radius: 2px;
    background: #7952B3;
    color: #fff;
    font-weight: 700;
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.5);
    transition-duration: 1s;
}

.presentation button:hover {
    background: #FAF3F3;
    color: #7952B3;
    transition-duration: 1s;
}

.navbar-brand, .navbar-brand:hover {
    color: #fff;
}

.nav-text {
    color: #fff;
    padding: 5px 0;
}

.nav-text:hover {
    color: #EEBB4D;
}

.active {
    color: #EEBB4D;
}

.features {
    text-align: center;
    padding-top: 40px;
    color: #000;
    background: #F1F6F9;
}

.features i {
    font-size: 40px;
    margin-bottom: 10px;
}

.features h1 {
    font-size: 28px;
}

.features p {
    font-size: 16px;
}

/* Responsive */

@media screen and (max-width: 700px) {
    .presentation {
        padding-top: 50px;
    }
}